﻿
<div class="container" style="float:left;padding:0;">
    <div class="starter-template">
        <h2>Column Charts</h2>
        Add data into the dynamic grid and press generate button to generate chart.


        <strong>Example: </strong>
        <div class="table-responsive">
            <table class="table table-bordered hover" style="width:535px">
                <tbody>
                    <tr class="danger">
                        <td>Catagories Name</td>
                        <td>First Value</td>
                        <td>Second Value</td>
                        <td>Third Value </td>
                        <td>Fourth Value </td>

                    </tr>
                    <tr class="success">
                        <td>Year</td>
                        <td>2000</td>
                        <td>2001</td>
                        <td>2002</td>
                        <td>2004</td>
                    </tr>
                    <tr>
                        <td>Sales</td>
                        <td>10000</td>
                        <td>20000</td>
                        <td>30000</td>
                        <td>40000</td>
                    </tr>
                    <tr >
                        <td>Expense</td>
                        <td>15000</td>
                        <td>20000</td>
                        <td>40000</td>
                        <td>50000</td>
                    </tr>
                    <tr>
                        <td>Other</td>
                        <td>35000</td>
                        <td>35000</td>
                        <td>35000</td>
                        <td>35000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
   

        $("#selected-chart").val('column-chart');
       
        if ($("#jqGrid"))
            $('#jqGrid').jqGrid('GridUnload');

        var prevGridData = JSON.parse(localStorage.getItem("gridData"));
        if (prevGridData !== null) {
            var prevNumberofCols = prevGridData[2];
            if (prevNumberofCols !== 0)
                setGrid(prevNumberofCols-1, 'column-chart');
        }
        else
        setGrid(4, 'column-chart'); //  setting up grid with 4 values as default

     
        $("#rowNumberOfCols").attr('class', 'row show');
        $("#row-custom-cat-names").attr('class', 'hidden');
        //$("#generateChart").show();
        //$("#btn-clear-storage").attr('class', 'btn btn-primary show');
        //$("#div-size-panel").attr('class', 'btn-group show');
      
        $("#generateChart").click();


        /*$("#addColumn").click(function () {
            $('#jqGrid').jqGrid('setGridParam', { shrinktofit: false });
            var numberOfColumns = ($("#jqGrid").jqGrid('getGridParam', 'colNames')).length;
            
            if ($("#jqGrid"))
                $('#jqGrid').jqGrid('GridUnload');
           
            setGrid(numberOfColumns, 'column-chart');
        });*/

        $("#btn-regenerate-grid").click(function () {
         
            $('#jqGrid').jqGrid('setGridParam', { shrinktofit: false });

            var numberOfColumns = $("#tb-col-numbers").val();

            if ($("#jqGrid"))
                $('#jqGrid').jqGrid('GridUnload');

            setGrid(numberOfColumns, 'column-chart');
        });

    });

</script>

<!-- Dynamic table -->
