<!--Introduction -->
<div class="container" style="float:left;padding:0;">
    <div class="starter-template">
        <h2>Pie Chart</h2>

        <strong>Example: </strong>
        <div class="table-responsive">
            <table class="table table-bordered hover" style="width:535px">
                <tbody>
                    <tr class="danger">
                        <td>Catagories Name</td>
                        <td>Catagories Value</td>

                    </tr>
                    <tr >
                        <td>Year</td>
                        <td>2000</td>
                     
                    </tr>
                    <tr>
                        <td>Sales</td>
                        <td>10000</td>
                     
                    </tr>
                    <tr >
                        <td>Expense</td>
                        <td>15000</td>
                 
                    </tr>
                    <tr>
                        <td>Other</td>
                        <td>35000</td>
                    
                    </tr>
                  
                </tbody>
            </table>
            <button  id="btn-tutorial" class="btn btn-primary">Tutorial </button>
        </div>
    </div>
</div>
   <!-- Joyride -->
<!--<script src="assets/javascript/joyride/jquery-1.10.1.js"></script>-->
<script src="assets/javascript/joyride/jquery.cookie.js"></script>
<script src="assets/javascript/joyride/modernizr.mq.js"></script>
<script src="assets/javascript/joyride/jquery.joyride-2.1.js"></script>
<link href="assets/css/joyride/joyride-2.1.css" rel="stylesheet" />


<!-- Joyride -->
<script type="text/javascript">
 
    $(document).ready(function () {
     
        $("#selected-chart").val('pie-chart');
        $('#jqGrid').jqGrid('setGridParam', { shrinktofit: true });
            if ($("#jqGrid"))
                $('#jqGrid').jqGrid('GridUnload');
            setGrid(1, 'pie-chart');// as pie chart need just 2 columns, grid set up 1 column as default so sending "1" (more) as parameter
     
           
        
            $("#rowNumberOfCols").attr('class', 'hidden');
            $("#row-custom-cat-names").attr('class', 'hidden');
        
            //$("#generateChart").show();
            //$("#btn-clear-storage").attr('class', 'btn btn-primary show');
            //$("#div-size-panel").attr('class', 'btn-group show');
            //$("#generatechart").attr('class', 'btn-group show');
            $("#generateChart").click();


        //Tutorail Button Click Event Binding 
            $("#btn-tutorial").click(function () {

                $("#pieTutorial").joyride({ // Intilizing tutorial
                    autoStart: true,
                    //postStepCallback: function (index, tip) {
                    //    if (index == 2) {
                    //        $(this).joyride('set_li', false, 1);
                    //    }
                    //},
                    //modal: true,
                    'tipLocation': 'top',
                    expose: true
                });
            });

          
    });
  

</script>



    
 
