﻿<!--Introduction -->
<div class="container" style="float:left;padding:0;">
    <div class="starter-template">
        <h2>Scatter Chart</h2>

        <strong>Example: </strong>
        <div class="table-responsive">
            <table class="table table-bordered hover" style="width:535px">
                <tbody>
                    <tr class="danger">
                        <td>First Catagory</td>
                        <td>Second Catagory</td>

                    </tr>
                    <tr >
                        <td>1000</td>
                        <td>2000</td>

                    </tr>
                    <tr>
                        <td>5000</td>
                        <td>10000</td>

                    </tr>
                    <tr>
                        <td>7500</td>
                        <td>15000</td>

                    </tr>
                    <tr>
                        <td>20000</td>
                        <td>35000</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

     
        $("#selected-chart").val('scatter-chart');
        if ($("#jqGrid"))
            $('#jqGrid').jqGrid('GridUnload');
        setGrid(1, 'scatter-chart');
 
      
        $("#jqGrid").jqGrid('setLabel', 'Catagories', 'First Catagory');
        $("#jqGrid").jqGrid('setLabel', 'Value1', 'Second Catagory');
  
        $("#rowNumberOfCols").attr('class', 'hidden');
        $("#row-custom-cat-names").attr('class', 'row show')
       
        //$("#generateChart").show();
        //$("#btn-clear-storage").attr('class', 'btn btn-primary show');
        //$("#div-size-panel").attr('class', 'btn-group show');
        $("#generateChart").click();
    });

</script>
<!-- Dynamic table -->