﻿<!--Introduction -->
<div class="container" style="float:left;padding:0;">
    <div class="starter-template">
        <h2>Trendlines</h2>

        <strong>Example: </strong>
        <div class="table-responsive">
            <table class="table table-bordered hover" style="width:535px">
                <tbody>
                    <tr class="danger">
                        <td>First Catagory</td>
                        <td>Second Catagory</td>

                    </tr>
                    <tr >
                        <td>1000</td>
                        <td>2000</td>

                    </tr>
                    <tr>
                        <td>5000</td>
                        <td>10000</td>

                    </tr>
                    <tr >
                        <td>7500</td>
                        <td>15000</td>

                    </tr>
                    <tr>
                        <td>20000</td>
                        <td>35000</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

   /*these four lines must be used in every new chart added  */
        $("#selected-chart").val('trendlines');
        if ($("#jqGrid"))
            $('#jqGrid').jqGrid('GridUnload');
        setGrid(1, 'trendlines');
        
        /*copy following one line in your html file set the class to "row" if you want the user to conrol the number of columns in the grid  */
        $("#rowNumberOfCols").attr('class', 'hidden'); // this is the row used in column chart to take value number from user to re generate grid
   
        /*the following two lines change the header name of both columns */
        $("#jqGrid").jqGrid('setLabel', 'Catagories', 'First Catagory');
        $("#jqGrid").jqGrid('setLabel', 'Value1', 'Second Catagory');

        /*copy following two lines in your html file if you want user to control header names of the columns (only in those where there are 2 columns)*/
        $("#row-custom-cat-names").attr('class', 'row show')
   
        /*autmatically generate chart to examplify the process*/
        $("#generateChart").click();
    });

</script>
<!-- Dynamic table -->