body {
  padding-top: 80px;
}

.starter-template {
  /*padding: 40px 15px;*/
  text-align: left;
}
#txt-cat-first{



}
#txt-cat-second{



}
.content-wrapper{

 
    min-height:400px;
    
}
.download-buttons{
    visibility:hidden;
}
#generateChart{

    display:none;
}
